body{
font-family: 'Raleway', sans-serif;
margin:0;
font-size:14px;
color:#000000;
}


    h1,h2,h3,h4,h5,h6{
    margin:0;
    }


*,
*::before,
*::after{
    box-sizing:border-box;
}


.container{
    width:100%;
    max-width:1170px;
    margin:0 auto;
}


/*  Header  */
.header{
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    
}

.header__inner{
    display:flex;
    
    padding:35px 0;
    align-items: center;
   
}

.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:34px;
    margin-right: 75px;
    
}




/*  Nav */


.nav{
   
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    align-items:center;
    justify-content: space-between;
    margin-right: 115px;
   

   
}



.nav__link{
    
    font-size: 14px;
    text-decoration: none;
    color:#000000;
    margin-left:20px;
    background-color: transparent;
    padding:5px;
    
    
    
    
    
    
}

.nav__link:first-child{
    margin-left:0;
}

.nav__link:hover{
background-color: #00b0ff;
color:#ffffff;
cursor: pointer;

transition: background 1s linear; 

}

.nav__contacts{
    display: flex;
    
}
/*Nav icons*/


.fa-facebook-f{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 18px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-instagram{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-envelope{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
}


.fab:hover,.far:hover{
    color:#000000;
    background-color:#ffffff;

}




/*  intro */

.intro{
    
    display:flex;
    flex-direction: column;
    height:1335px;
    /* height: 100vh; */
    background: url("../images/intro/intro.jpg");
    background-repeat:no-repeat;
    background-position:top;
    background-size: 100% 50%;
    position: relative;
    
    
}

.intro__inner{
    
    width: 100%;
    max-width: 730px;
    margin:0 auto;
    margin-top:150px;
    text-align: center;

}

.intro__title{
    font-family: 'Playfair Display', serif;
    color:#000000;
    font-style: italic;
    font-weight: normal;
    font-size:50px;
    margin-bottom:20px;
}

.intro__suptitle{
    font-family: 'Playfair Display', serif;
    color:#ffffff;
    font-style: italic;
    font-size:24px;
    font-weight: normal;
}

/*Slider__serf */

.slider__serfboard{
    position: relative;
    width:100%;
    max-width:1030px;
    height:600px;
    background-color:#ffffff;
    margin:0 auto;
    margin-top:150px;
 
    box-shadow: 3px 0px 25px grey;
    
}

.big-slider__title{

    
    position: absolute;
    top:0px;
    right:0;
    z-index:1000;
    text-transform: uppercase;
    color:#f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 66px;
     transform:rotate(-90deg) translateY(250px)translateX(-227px);
            text-align: justify;               
	
    
    
}





.slider__serfboard-content{
    display:flex;
    position:absolute;
    top:0;
    right:0;
    z-index:1050;
   
}


.slider-serfboard__img{
    width:60%;
}

.serfboard__description{
    width:40%;
}
.choose-main-serboard__img{
    position:absolute;
    top:-430px;
    left:-450px;
    z-index: 1060;
   

}


.slider-serfboard__img--views{
    

    display: flex;
    flex-direction: column;

}

.slider-serfboard__img--views {
    width:70px;
    top:158px;
    position: absolute;
    left:458px;
    
    
}

.slider-serfboard__img--views img{
    margin-bottom:5px;
    border:2px solid #cccccc;
}














/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */