body{
font-family: 'Raleway', sans-serif;
margin:0;
font-size:14px;
color:#000000;
}


    h1,h2,h3,h4,h5,h6{
    margin:0;
    }


*,
*::before,
*::after{
    box-sizing:border-box;
}


.container{
    width:100%;
    max-width:1170px;
    margin:0 auto;
}


/*  Header  */
.header{
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    
}

.header__inner{
    display:flex;
    
    padding:35px 0;
    align-items: center;
   
}

.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:34px;
    margin-right: 75px;
    
}




/*  Nav */


.nav{
   
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    align-items:center;
    justify-content: space-between;
    margin-right: 115px;
   

   
}



.nav__link{
    
    font-size: 14px;
    text-decoration: none;
    color:#000000;
    margin-left:20px;
    background-color: transparent;
    padding:5px;
    
    
    
    
    
    
}

.nav__link:first-child{
    margin-left:0;
}

.nav__link:hover{
background-color: #00b0ff;
color:#ffffff;
cursor: pointer;

transition: background 1s linear; 

}

.nav__contacts{
    display: flex;
    
}
/*Nav icons*/


.fa-facebook-f{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 18px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-instagram{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-envelope{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
}


.fab:hover,.far:hover{
    color:#000000;
    background-color:#ffffff;

}




/*  intro */

.intro{
    height:1335px;
    background: url("../images/intro/intro.jpg");
    background-repeat:no-repeat;
    background-position:top;
    background-size: 100% 50%;
    
}




/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */