body{
font-family: 'Raleway', sans-serif;
margin:0;
font-size:14px;
color:#000000;
overflow-x: hidden;
}


    h1,h2,h3,h4,h5,h6{
    margin:0;
    }


*,
*::before,
*::after{
    box-sizing:border-box;
}


.container{
    width:100%;
    max-width:1170px;
    margin:0 auto;
}


/*  Header  */
.header{
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    
}

.header__inner{
    display:flex;
    
    padding:35px 0;
    align-items: center;
   
}

.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:34px;
    margin-right: 75px;
    
}




/*  Nav */


.nav{
   
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    align-items:center;
    justify-content: space-between;
    margin-right: 115px;
   

   
}



.nav__link{
    
    font-size: 14px;
    text-decoration: none;
    color:#000000;
    margin-left:20px;
    background-color: transparent;
    padding:5px;
    
    
    
    
    
    
}

.nav__link:first-child{
    margin-left:0;
}

.nav__link:hover{
background-color: #00b0ff;
color:#ffffff;
cursor: pointer;

transition: background 1s linear; 

}

.nav__contacts{
    display: flex;
    
}
/*Nav icons*/


.fa-facebook-f{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 18px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-instagram{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
    margin-right:10px;
}

.fa-envelope{
    color:#ffffff;
    font-size:15px;
    background-color: #000000;
    padding:13px 15px;
    border-radius: 50%;
}


.fab:hover,.far:hover{
    color:#000000;
    background-color:#ffffff;

}




/*  intro */

.intro{
    overflow: hidden;

    background: url("../images/intro/intro.jpg");
    background-repeat:no-repeat;
    background-position:top;
    background-size: 100% 50%;
    
    
    
} 

.intro__inner{
    
    width: 100%;
    max-width: 730px;
    margin:0 auto;
    margin-top:150px;
    text-align: center;

}

.intro__title{
    font-family: 'Playfair Display', serif;
    color:#000000;
    font-style: italic;
    font-weight: normal;
    font-size:50px;
    margin-bottom:20px;
}

.intro__suptitle{
    font-family: 'Playfair Display', serif;
    color:#ffffff;
    font-style: italic;
    font-size:24px;
    font-weight: normal;
}


.intro__about{
    position: relative;
    bottom:-65px;
    text-transform: uppercase;
    color:#f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:196px;
    text-align: justify;
    letter-spacing:8px;
    margin:0 auto;
    margin-top:180px;
}

/*Slider__serf */

.slider__serfboard{

    position: relative;
    max-width:1030px;
    height: 603px;
    background-color:#ffffff;
    margin:0 auto;
    margin-top:150px;
    border:1px solid black;
    box-shadow: 3px 0px 25px grey;
    overflow: hidden;
    
}

.big-slider__title{
    background-color: transparent;
    position: absolute;
    right:0;
    transform: rotate(-90deg);   
    text-align: justify;
    right:-275px;
    top:220px;
    text-transform: uppercase;
    color:#f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:127px;
    text-align: justify;
    letter-spacing:8px;

}


.slider__serfboard-content{
    display: flex;
    position:absolute;
    z-index:1000;

}

.--content{
    width:50%;

}






















/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */